body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url(../images/concrete_seamless.png);
}

* {
  box-sizing: border-box;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

/* General CSS */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700px;
  color: #4aaaa5;
}

h1 {
  padding: 15px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

/* header */

#masthead {
  width: 100%;
  height: 75px;
  background: white;
  margin-bottom: 20px;
  border-bottom: 2px solid #4aaaa5;
}

#logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: #4aaaa5;
  color: white;
  float: left;
  height: 75px;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: 900;
}

nav {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

nav a {
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
  color: #4aaaa5;
  border-left: 1px solid #4aaaa5;
}

nav a:first-child {
  border-left: none;
}

/* About Me Page */

.main-section {
  float: left;
  width: 100%;
  padding: 10px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

.profpic {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 20px;
    border: 2px solid #4aaaa5;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    text-align: center;
    height: 50px;
    background: #666666;
    color: #cccccc;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
}

h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eeeeee;
}

/* contact form */

#contact-form ul {
    margin-bottom: 20px;
}

label, input[type=text], input[type=email], textarea {
    display: block;
    width: 100%;
}

input[type=text], input[type=email] {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dddddd;
}

#message {
  border: 1px solid #dddddd;
}

textarea {
    height: 150px;
}

input[type=submit] {
    color: #ffffff;
    background: #4aaaa5;
    cursor: pointer;
}

/* portfolio */

.work {
    position: relative;
    float: left;
    width: 300px;
    margin: 30px 0 30px;
    overflow: auto;
    align-self: center
}

.work:nth-child(even) {
    margin-right: 30px;
}

.work img {
    width: 100%;
    border: 0 none;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }
 
  /* max width 640px
  about me page */
@media screen and (max-width: 640px) {
    #masthead {
        width: 100%;
        height: 140px;
        position: relative;
    }

    #logo {
      float: none;
      width: 100%;
      display: inline-block;
      font-size: 32px;

    }

    nav {
      float: none;
      margin-left: 29%;
    }
  
    .responsive {
      width: 100%;
      height: auto;
    }

    #main-section {
      width: 100%;
      margin: none;
    }

    /* Portfolio */

    .main-container {
      width: 100%;
    }

    /* Contact */

    #message {
      width: 100%;
      border: 1px solid #dddddd;
    }
}

@media screen and (max-width: 768px) {
nav {
  margin-right: 10px;
}

.main-container {
  width: 80%;
}

#message {
  width: 100%;
  border: 1px solid #dddddd;
}

.responsive {
  width: 40%;
}
}